@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Pragmaticashadowc italic";

    font-display: swap;
    src: url("../fonts/Pragmaticashadowc italic.woff2") format("woff2"), url("../fonts/Pragmaticashadowc italic.woff") format("woff");
  }